/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #333;
}

p {
	font-size: .95rem;
	margin-bottom: 1.8rem;
}

h2,
h3,
a {
	color: #358;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.headline, .tagline {
	padding-left : 20px;
	margin-left : 20px;
}

.headline {
  font-size: 2.5rem; 
  margin-top: 15px;
  padding-top: 15px;
  }

.tagline {
  font-size: 1.25rem; 
  margin-top : -1.5rem;
  }

.main-nav {
  margin : 15px;
  padding : 15px;
  float : right;
  vertical-align : top;
  }

.main-nav a {
  text-align: center;
  padding : 20px;
  display : inline-block;
  font-size: 1.15rem;
  color: #FACE0F;
  text-transform: uppercase;
}

.main-nav a:hover {
	color: #9CF;
}



/* ---- Layout Containers ---- */

.main-header{
  padding :  0;
}

.banner, .main-footer {
  margin : auto;
  color: #fff;
  background: #294b9f;

    }

 .col {
    padding : 2%;
   
  }

.banner {
	padding : 5px;
    margin-bottom: 10px;
	display : table;
	width : 100%;
	border-bottom : 5px groove #358;
	text-align: left;
}

.main-footer {
	padding: 1.8rem 0;
	margin-top: 10px;
	border-top : 5px groove #358;
	text-align: center;
}

/* ---- Page Elements ---- */

.logo {
	width: 150px;
	float : left;
	padding : 10px 20px;
	
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {



	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

.container {
  width : 90%;
  margin : auto;
  padding-bottom : 2%;
  }

 
  .primary {
    width : 60%;
    }

  .secondary {
    width : 40%;
    }

  .main-nav {
   display : inline-block;
  }

  .name, .col {
  float : left;
  }

.main-nav li {
  display : inline-block;
  }

}

@media (min-width: 1025px) {

.container {
  width : 80%;
  max-width : 1520px;
  margin : auto;
  padding-bottom : 1%;
  }
 
 .main-nav {
	display : none;
 }
 
  .primary {
    width : 40%;
    }

  .secondary, .tertiary {
    width : 30%;
    }
	

	
  
}

@media (min-width: 1325px) {
	.main-footer{	
	position : fixed;
	width : 100%;
	left :0;
	bottom :0 ; 
	}
}
